<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="toggleNavBarState()"
      [@navButtonAnimate]="displayMode"
      *ngIf="(isHandset$ | async) && (!(isSignUpPage|async))">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a mat-button
       [routerLink]="['/']">{{'campusworks'| uppercase}}</a>
    <span class="spacer"></span>

    <div [@toolBarAnimate]="displayMode"
         *ngIf="(user|async)?.uid">
      <a mat-button
         [routerLink]="['/gallery']">Gallery</a>
      <a mat-button
         [routerLink]="['/upload']">Upload</a>
    </div>

    <div [@toolBarAnimate]="displayMode">
     <!-- <a [routerLink]="['/signin']"
         routerLinkActive="active"
         mat-button
         *ngIf="(!(isSignUpPage|async)) && (!(user|async)?.uid)">Sign In</a> -->
      <a mat-button (click)="signOut()"
         *ngIf="(user|async)?.uid">Sign Out</a>
    </div>
  </mat-toolbar-row>
 </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [@sidenavAnimate]="state"
      [fixedInViewport]=false
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [autoFocus]=true
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(!(isSignUpPage|async)) && (isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['/gallery']">
        <mat-icon
          aria-label="Side nav icon"
          class="sidenav-icon">menu
        </mat-icon>
      Gallery</a>
      <a mat-list-item
         [routerLink]="['/upload']">
        <mat-icon
          aria-label="Side nav icon"
          class="sidenav-icon">menu
        </mat-icon>
        Upload</a>
      <a mat-list-item
         (click)="signOut()">
        <mat-icon
          aria-label="Side nav icon"
          class="sidenav-icon">menu
        </mat-icon>
        Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
