.side-nav-container{
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.side-nav {
  min-width: 10vw !important;
  max-width: 40vw !important;
}

.right-side-nav {
  min-width: 40vw !important;
  max-width: 40vw !important;
  min-height: 90vh !important;
  max-height: 90vh !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}


.side-nav-list{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.sidenav-icon {
  margin-right: 20px;
}

