<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="toggleNavBarState()"
      [@navButtonAnimate]="displayMode"
      class="mat-button"
      *ngIf="(isHandset$ | async) && (!(isSignUpPage|async))">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a mat-button
       [routerLink]="['/gallery']"
       [routerLinkActive]="['mat-accent']"
       [routerLinkActiveOptions]="{ exact: true }"
       class="mat-button"
    >{{'AutoGraph'| uppercase}}</a>
    <span class="spacer"></span>

    <div *ngIf="(!(isHandset$ | async)) && (user|async)?.uid"
         [@toolBarAnimate]="displayMode">
      <a mat-button
         [routerLink]="['/gallery']"
         [routerLinkActive]="['mat-accent']"
         class="mat-button">Gallery</a>
      <a mat-button
         [routerLink]="['/upload']"
         [routerLinkActive]="['mat-accent']"
         class="mat-button">Upload</a>
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              (menuOpened)="menuState = 'open'"
              (menuClosed)="menuState = 'closed'"
              [@menuAnimate]="menuState"
              class="mat-button"
              aria-label="drop down menu trigger">
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <mat-menu #menu="matMenu"
                class="menu-settings">
        <mat-card class="mat-card
        mat-elevation-z0">
          <!-- START: Profile Card in Toolbar-->
          <mat-card-header>
            <div class="row">
              <div class="col-xsm-12">
                <div mat-card-avatar class="md-app-profile-pic-icon">
                  <mat-icon *ngIf="authSvc.currentUserDetails().isAnonymous"
                            class="md-app-hint-value">account_circle
                  </mat-icon>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xsm-12">
                <mat-card-title class="mat-body">{{authSvc.currentUserDetails().email}}</mat-card-title>
              </div>
            </div>
            <div class="row">
              <div class="col-xsm-12">
                <mat-card-subtitle class="mat-small">User</mat-card-subtitle>
              </div>
            </div>
          </mat-card-header>
          <mat-card-actions>
            <mat-divider>
            </mat-divider>
            <div class="row">
              <div class="col-12">
                <button mat-button
                        class="mat-button
                        mat-primary
                      md-app-inherit-parent-width"
                        (click)="signOut()">
                  <mat-icon
                    aria-label="Sign out icon"
                    class="sidenav-icon">power_settings_new
                  </mat-icon>
                  Sign Out
                </button>
              </div>
            </div>
          </mat-card-actions>
          <!-- END: Profile Card in Toolbar-->
        </mat-card>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="side-nav-container">
  <mat-sidenav
      #drawer
      class="side-nav"
      [@sidenavAnimate]="state"
      [fixedInViewport]=false
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [autoFocus]=true
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(!(isSignUpPage|async)) && (isHandset$ | async)">
    <mat-nav-list>
      <mat-card class="mat-card
      mat-elevation-z0">
        <!-- START: Profile Card in side-nav-->
        <mat-card-header>
          <div class="row">
            <div class="col-xsm-12">
              <div mat-card-avatar class="md-app-profile-pic-icon">
                <mat-icon *ngIf="authSvc.currentUserDetails().isAnonymous"
                          class="md-app-hint-value">account_circle
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xsm-12">
              <mat-card-title class="mat-body">{{authSvc.currentUserDetails().email}}</mat-card-title>
            </div>
          </div>
          <div class="row">
            <div class="col-xsm-12">
              <mat-card-subtitle class="mat-small">User</mat-card-subtitle>
            </div>
          </div>
        </mat-card-header>
        <mat-card-actions>
          <div class="row">
            <div class="col-12">
              <button mat-button
                      class="mat-button
                      mat-primary
                      md-app-inherit-parent-width"
                      (click)="signOut()">
                <mat-icon
                  aria-label="Sign out icon"
                  class="sidenav-icon">power_settings_new
                </mat-icon>
                Sign Out
              </button>
            </div>
          </div>
        </mat-card-actions>
        <mat-divider>
        </mat-divider>
        <!-- END: Profile Card in side-nav-->
      </mat-card>
      <a mat-list-item
         [routerLink]="['/gallery']"
         [routerLinkActive]="['active-list-item']"
         class="mat-button">
        <mat-icon
          aria-label="Side nav icon"
          class="sidenav-icon">menu
        </mat-icon>
        Gallery</a>
      <a mat-list-item
         [routerLink]="['/upload']"
         [routerLinkActive]="['active-list-item']"
         class="mat-button">
        <mat-icon
          aria-label="Side nav icon"
          class="sidenav-icon">menu
        </mat-icon>
        Upload</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- START: Right side side-nav -->
  <mat-sidenav #rightDrawer
               class="right-side-nav"
               position="end"
               [fixedInViewport]=false
               [autoFocus]=true
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]=false>
    <mat-toolbar  color="accent">
      <mat-toolbar-row>
            <a mat-icon-button
               matTooltip="Close Files To Upload"
                    (click)="toolBarSvc.toggleRightSideNav()">
              <mat-icon>close</mat-icon>
            </a>
            FILES TO UPLOAD
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="mat-elevation-z0">
      <!-- START: File Upload Inner ToolBar -->
      <mat-card-content>
        <div class="row">
          <div class="col-2">
            <mat-slide-toggle #autoUpload
                              (click)="changeAutoUploadStatus()"
                              matTooltip="Auto Upload All Selected Files"
                              [checked]=true
                              [disabled]=false
                              (click)="changeAutoUploadStatus()"
                              class="md-app-padding-5">
            </mat-slide-toggle>
          </div>
          <div class="col-2">
            <a mat-icon-button
               matTooltip="Cancel Upload of All Files"
               (click)="cancelUploadOfAllFiles()"
               class="md-app-padding-5">
              <mat-icon>cloud_off</mat-icon>
            </a>
          </div>
          <div class="col-2">
            <a mat-icon-button
               [disabled]="(totalFilesUploaded<filesToUpload.length)
               || (totalFilesUploaded>=filesToUpload.length)"
               matTooltip=""
               [matMenuTriggerFor]="uploadStatusMenu"
               aria-label="file upload status drop down menu trigger"
               class="mat-button">
              <mat-icon>info_circle</mat-icon>
            </a>
          </div>
          <div class="col-6">
          </div>
        </div>

        <mat-divider></mat-divider>
      </mat-card-content>
      <!-- END: File Upload Inner ToolBar -->
    </mat-card>


    <mat-nav-list class="side-nav-list">
      <app-upload-task *ngFor="let file of filesToUpload"
                       [file]="file" [enableAutoUpload]="isAutoUploadEnabled"></app-upload-task>
    </mat-nav-list>
  </mat-sidenav>
  <!-- END: Right side side-nav -->

  <mat-sidenav-content>
    <!-- Add Content Here -->
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-xl-2">
        </div>
        <div class="col-xsm-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <router-outlet>
          </router-outlet>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2">
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #uploadStatusMenu="matMenu"
          class="menu-settings">
  <mat-card class="mat-elevation-z0">
    <!-- START: Upload Status Card -->
    <mat-card-header>
      <div class="row">
        <div class="md-app-hint-value
             md-app-small-text
             col-xsm-12">
          <mat-icon>info_circle</mat-icon>
        </div>
      </div>

      <div class="row">
        <div class="mat-small
            md-app-hint-value
                            col-xsm-12">
          Upload Status
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider>
      </mat-divider>

      <div class="row">
        <div class="mat-small
            md-app-hint
                md-app-padding-5
                col-xsm-12">
          Selected
        </div>
        <div class="mat-small
            md-app-hint-value
                md-app-padding-5
                col-xsm-12">
          {{filesToUpload.length}}
        </div>
      </div>
      <div class="row">
        <div class="mat-small
            md-app-hint
                md-app-padding-5
                col-xsm-12">
          Uploaded
        </div>
        <div class="mat-small
            md-app-hint-value
                md-app-padding-5
                col-xsm-12">
          {{totalFilesUploaded}}
        </div>
      </div>
    </mat-card-content>
    <!-- END: Upload Status Card -->
  </mat-card>
</mat-menu>
