<mat-card class="container mat-elevation-z0" cdkTrapFocus>
  <mat-card-header>
    <mat-card-title>
      <mat-card-title-group class="container-toolbar">
        <button mat-button
                type="button"
                (click)="signInForm()">
          <h2>SIGN IN</h2>
        </button>
        <button mat-button
                type="button"
                (click)="signUpForm()">
          <h3>Sign Up</h3>
        </button>
      </mat-card-title-group>
      <h5 class="mat-primary"
        *ngIf="newUser">Register New User
      </h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="login()">
      <mat-form-field class="form-field">
        <mat-icon
          aria-label="email icon"
          matPrefix
          class="inputfield-icon">email
        </mat-icon>
        <input type="email"
               matInput
               formControlName="email"
               #email
               maxlength="70"
               required>
        <!--    <button mat-icon-button *ngIf="email.value"
                    matSuffix
                    aria-label="Clear"
                    (click)="email.value=''">
              <mat-icon>close</mat-icon>
            </button> -->
        <mat-hint
          align="start"
          *ngIf="formErrors.email">
          <span class="mat-error">{{ formErrors.email }}</span>
        </mat-hint>
        <mat-hint
          align="end"
          *ngIf="email.value">
          <span class="hint">Total characters typed </span>
          <span class="hint-value">{{email.value.length}}</span>
          <span class="hint"> / 70</span>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-icon
          aria-label="email icon"
          matPrefix
          class="inputfield-icon">edit
        </mat-icon>
        <input type="password"
               matInput
               formControlName="password"
               #pwd
               required
               maxlength="40">
        <!--        <button mat-icon-button *ngIf="pwd.value"
                        matSuffix
                        aria-label="Clear"
                        (click)="pwd.value=''">
                  <mat-icon>close</mat-icon>
                </button> -->
        <mat-hint
          align="start"
          *ngIf="formErrors.password">
          <span class="mat-error">{{ formErrors.password }}</span>
        </mat-hint>
        <mat-hint
          align="end"
          *ngIf="pwd.value">
          <span class="hint">Total characters typed </span>
          <span class="hint-value">{{pwd.value.length}}</span>
          <span class="hint"> / 40</span>
        </mat-hint>
      </mat-form-field>
      <mat-card-actions>
        <span class="mat-error" *ngIf="isLoginFail">
          Your Login Attempt Failed! Retry again!</span>
        <span class="mat-error" *ngIf="isSignUpFail">
          Your Attempt to sign up a new user Failed! Retry again!</span>
        <mat-card-title-group class="container-toolbar">
          <button mat-button
                  [disabled]="!userForm.valid"
                  type="submit">
            <span *ngIf="!newUser">SIGN IN</span>
            <span *ngIf="newUser">SIGN UP</span>
          </button>
        </mat-card-title-group>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
