<mat-card class="md-app-card mat-elevation-z0" cdkTrapFocus>
  <mat-card-header>
    <mat-card-title>
      <mat-card-title-group class="container-toolbar">
        <button mat-button
                class="mat-primary"
                type="button"
                (click)="signInForm()">
          <p>Sign In</p>
        </button>
        <button mat-button
                class="mat-primary"
                type="button"
                (click)="signUpForm()">
          <h2>Sign Up</h2>
        </button>
      </mat-card-title-group>
      <h5 class="md-app-hint"
          *ngIf="newUser">Register New User
      </h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="login()">
      <mat-form-field class="form-field">
        <mat-icon
          aria-label="email icon"
          matPrefix
          class="inputfield-icon">email
        </mat-icon>
        <input type="email"
               matInput
               formControlName="email"
               #email
               maxlength="70"
               required>
        <button *ngIf="email.value"
                type="button"
                mat-icon-button
                matSuffix
                aria-label="Clear"
                (click)="email.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint
          align="start"
          *ngIf="formErrors.email">
          <span class="mat-error">{{ formErrors.email }}</span>
        </mat-hint>
        <mat-hint
          align="end"
          *ngIf="email.value">
          <span class="md-app-hint">Total characters typed </span>
          <span class="md-app-hint-value">{{email.value.length}}</span>
          <span class="md-app-hint"> / 70</span>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-icon
          aria-label="email icon"
          matPrefix
          class="inputfield-icon">edit
        </mat-icon>
        <input type="password"
               matInput
               formControlName="password"
               #pwd
               required
               maxlength="40">
        <button *ngIf="pwd.value"
                type="button"
                mat-icon-button
                matSuffix
                aria-label="Clear"
                (click)="pwd.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="pwd.value"
                type="button"
                mat-icon-button
                matSuffix
                aria-label="show hide password"
                (click)="showHidePassword()">
          <mat-icon>{{showHidePassWordIcon}}</mat-icon>
        </button>
        <mat-hint
          align="start"
          *ngIf="formErrors.password">
          <span class="mat-error">{{ formErrors.password }}</span>
        </mat-hint>
        <mat-hint
          align="end"
          *ngIf="pwd.value">
          <span class="md-app-hint">Total characters typed </span>
          <span class="md-app-hint-value">{{pwd.value.length}}</span>
          <span class="md-app-hint"> / 40</span>
        </mat-hint>
      </mat-form-field>
      <mat-card-actions>
        <span class="mat-error" *ngIf="errorMsg">
          {{errorMsg}}
          </span>
        <mat-card-title-group class="container-toolbar">
          <button mat-button
                  class="mat-primary"
                  [disabled]="!userForm.valid"
                  type="submit">
            <span *ngIf="signUpButtonText">{{signUpButtonText}}</span>
          </button>
        </mat-card-title-group>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
