<mat-card class="container mat-elevation-z0" cdkTrapFocus>
  <mat-card-header>
    <mat-card-title>
      <p class="hint">Upload Images
      </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <app-uploader>
  </app-uploader>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="upload">
      Progress:
      <mat-progress-bar mode="determinate" value="{{upload?.progress}}">
      </mat-progress-bar>
      Complete
    </div>
    <button *ngIf="files"
      mat-button
            class="mat-primary avatar-button"
            (click)="uploadFiles()">
      <mat-icon>file_upload</mat-icon>
      UPLOAD
    </button>
  </mat-card-actions>
</mat-card>

