<mat-card class="md-app-card mat-elevation-z0" cdkTrapFocus>
  <mat-card-header>
    <mat-card-title class="tool-bar">
      <div class="row">
        <div class="col-xsm-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
          <p class="md-app-hint">Upload Images
          </p>
        </div>
        <div class="col-xsm-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <a mat-icon-button
             matTooltip="Open Files To Upload"
             (click)="toggleRightSideNav()">
            <mat-icon>settings</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-uploader>
    </app-uploader>
  </mat-card-content>
  <mat-card-actions>
  <div class="row">
    <div class="col-xsm-12">
    <mat-checkbox #autoUpload
                  checked=true
                  matTooltip="Auto Upload All Selected Files"
                  (click)="enableAutoUpload()">Auto Upload Files
    </mat-checkbox>
    </div>
    <div class="col-xsm-12">
      <a mat-icon-button
         matTooltip="Cancel Upload of All Files"
         (click)="cancelUploadOfAllFiles()">
        <mat-icon>cancel</mat-icon>
      </a>
    </div>
  </div>
  </mat-card-actions>
</mat-card>
