h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

button {
  width: 100%;
}

.example-card {
  max-width: 400px;
  width: 100%;
}

.card-right{
  display: inline !important;
  float: right !important;
}

.card-left{
  display: inline !important;
}
