<mat-card class="mat-elevation-z2 task">
  <mat-card-header>
    <mat-card-title>
      <span class="hint-value">
        <small>{{fileName}}</small>
      </span>
      <!-- START: File Info Menu -->
      <button mat-icon-button
              [matMenuTriggerFor]="fileInfoMenu"
              aria-label="file info menu trigger">
        <mat-icon class="mat-primary">info_circle</mat-icon>
      </button>
      <mat-menu #fileInfoMenu="matMenu"
                class="avatar-button">
        <mat-card class="mat-elevation-z0">
          <!-- START: File Info Card -->
          <mat-card-header>
            <app-info-title [icon]="['info_circle']" [title]="['File Info']"></app-info-title>
            <span class="white task info-card"></span>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <app-info-card [title] = "['Name']" [msg] = "[fileName]"></app-info-card>
            <app-info-card [title] = "['Type']" [msg] = "[fileType]"></app-info-card>
            <app-info-card [title] = "['Size']" [msg] = "[fileSize]"></app-info-card>
          </mat-card-content>
          <!-- END: File Info Card -->
        </mat-card>
      </mat-menu>
      <!-- END: File Info Menu -->
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar
      mode="determinate"
      [value]="percentage | async"
      #progress>
    </mat-progress-bar>

    <div *ngIf="snapshot | async as snap">
      <div *ngIf="downloadURL as url">
        <a [href]="url"
           mat-icon-button
           target="_blank"
           rel="noopener"
           mat-button
           class="white"><mat-icon>visibility</mat-icon></a>
      </div>


      <div *ngIf="!(isUploadCompleted | async)">
        <span>
        <button mat-button (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
        <button mat-button (click)="task.resume()"
                [disabled]="!(snap?.state === 'paused')">Resume</button>
        <button mat-button (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</button>
        </span>
      </div>


      <div *ngIf="percentage | async as pct" class="task">
        <div class="task">
          <span class="hint-value">{{ pct |number }} %</span>
          <span class="hint"> Completed</span>
        </div>
        <div class="task">
          <span class="hint-value">{{ (snap.bytesTransferred | fileSize) }}</span>
          <span class="hint"> of </span>
          <span class="hint-value">{{ (snap.totalBytes | fileSize)}}</span>
          <span class="hint"> Transferred</span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
