* {
  transition: .33s ease all;
  box-sizing: border-box;
}

div.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

div.text-container {
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

img{
  object-fit: cover;
  width: 100%;
  height: 50%;
}
