/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  /* remove bootstrap borders */
  :focus {outline:0 !important;}
  /*
  font-family: 'Sacramento', cursive;
  */
  /*
  font-family: 'Hi Melody', cursive;
  */
  /*
  font-family: 'Montserrat', sans-serif;
  */
 /* font-family: 'Clicker Script', cursive;*/

  font-family: 'Delius', cursive;
  overflow-y: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  text-overflow: ellipsis;
  margin: 5px;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.md-app-card {
  background-color: inherit !important;
}


.container-toolbar {
  width: 90%;
  margin: 0px;
  padding: 0px;
}

/* variables.scss */
@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-purple, 700);
$accentPalette: mat-palette($mat-cyan, A100);
$hintValuePalette: mat-palette($mat-amber, 500);
$dropZonePalette: mat-palette($mat-gray, 700);
$darkTextPalette: mat-palette($mat-gray, 900);

.md-app-hint {
  color: mat-color($accentPalette) !important;
}

.md-app-hint-value {
  margin: 0px 0px 0px 3px;
  color: mat-color($hintValuePalette) !important;
}

.md-app-white {
  color: white !important;
}

.md-app-padding-5 {
  padding: 5px !important;
}

.md-app-padding-left-10 {
  padding-left: 10px !important;
}

.md-app-inherit-parent-width{
  width: inherit !important;
}

.md-app-small-text{
  font-size: 0.8em;
 }

.md-app-padding-5 {
  padding: 5px !important;
}

.active-list-item {
  font-weight: bold;
  color: mat-color($accentPalette) !important;
}

.dark-text {
  font-weight: bold;
  color: mat-color($darkTextPalette) !important;
}


.inputfield-icon {
  margin: 2px 8px 2px 2px;
}

.md-app-profile-pic-icon {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.menu-settings {
  display: flex;
  min-width: 12vw !important;
  min-height: 12vh !important;
  max-width: 80vw !important;
  max-height: 80vh !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.bottom-spacer {
  margin-bottom: 10px;
}

.no-padding {
  padding: 0px !important;
}

