/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  /* Hide vertical scroll-bars in html and body.*/
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  margin: 2% 20% 2% 20%;
  height: 72%;
  background-color: inherit;
}

.container-toolbar {
  width: 90%;
  margin: 0px;
  padding: 0px;
}

form {
  width: 96%;
  margin: 1%;
  padding: 1%;
}

/* variables.scss */
@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-purple, 700);
$accentPalette: mat-palette($mat-cyan, A100);
$hintValuePalette: mat-palette($mat-amber, 500);
$dropZonePalette: mat-palette($mat-gray, 700);
$darkTextPalette: mat-palette($mat-gray, 900);

.active-list-item {
  font-weight: bold;
  color: mat-color($accentPalette) !important; /* Note: You could also use a custom theme */
}

.hint {
  color: mat-color($accentPalette) !important; /* Note: You could also use a custom theme */
}

.hint-value {
  margin: 0px 0px 0px 3px;
  color: mat-color($hintValuePalette) !important; /* Note: You could also use a custom theme */
}

.content {
  color: mat-color($primaryPalette) !important; /* Note: You could also use a custom theme */
}

.dark-text{
  font-weight: bold;
  color: mat-color($darkTextPalette) !important; /* Note: You could also use a custom theme */
}



.inputfield-icon {
  margin: 2px 8px 2px 2px;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  border: 2px dashed #eeeeee;
  border-radius: 5px;
  margin: 10px 0;
  color: #eeeeee;
  background: mat-color($dropZonePalette) !important; /* Note: You could also use a custom theme */

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;

    .file-label {
      font-size: 1.2em;
    }
  }

.file-input{
  margin: 30%;
  padding: 2%;
}
/*
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }*/
}

.img-avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.avatar-button{
  width: 95%;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
