<div class="dropzone"
     dropzone
     (click)="fileChooser.click()"
     (hovered)="toggleHover($event)"
     (dropped)="handleFiles($event)"
     [class.hovering]="isHovering">
  <h3>Drop Zone</h3>
  <p class="dark-text">
    Drag and drop files into this box ! (or) Click inside this box to choose files
  </p>
  <input type="file"
         (change)="handleFiles($event)"
         #fileChooser
         class="hidden"
         accept=".png,.jpg"
         multiple>
  <button mat-button
          class="hint-value">
    <mat-icon>attach_file</mat-icon>
    Choose Files
  </button>
  <mat-hint>
    <span class="hint-value">{{statusMessage}}</span>
    <span class="hint"> Files chosen.</span>
  </mat-hint>
</div>
